<section class="about-us-page">
  <div class="container">
    <div class="about-us-container">
      <div class="about-us-content">
        <h2 class="about-us-title" id="about-us">
          Найкраща компанія для роботи в IT
        </h2>
        <div class="text-container">
          <p class="about-us-secondaty-title">
            <b
              >Вебстудія Глянець — команда, яка налічує понад 50
              професіоналів</b
            >
          </p>
          <p class="about-us-text">
            Наша компанія має власний офіс, хостинг, проводить навчання кадрів,
            здійснює контроль якості кожного проєкту.
          </p>
          <p class="about-us-text">
            За час своєї роботи ми розробили сотні інтернет-магазинів, які
            працюють у всіх країнах світу, продаючи своїм замовникам тисячі
            товарів на добу.
          </p>
          <p class="about-us-text">
            <b>Глянець</b> — це надійність. Перевірено досвідом!
          </p>
        </div>
        <div class="icon-our-work-wrapper">
          <svg class="icon-ukraine-community" width="105" height="65">
            <use href="./images/sprite.svg#icon-ukraine-community"></use>
          </svg>
          <svg class="icon-alternative-commerce" width="219" height="66">
            <use href="./images/sprite.svg#icon-alternative-commerce"></use>
          </svg>
          <svg class="icon-helpdesk-star" width="206" height="33">
            <use href="./images/sprite.svg#icon-helpdesk-star"></use>
          </svg>
        </div>
      </div>

      <div class="icon-wrapper">
        <svg class="icon-for-about-us-section" width="646" height="427">
          <use href="./images/sprite.svg#icon-for-about-us-section"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
