<section class="charity-page">
  <div class="container">
    <div class="charity-container">
      <h3 class="charity-title">Благодійність</h3>
      <div class="charity-content">
        <div class="charity-text">
          <p>
            <b>
              Наша місія — зробити світ кращим, і ми віримо, що благодійність є
              одним з ключових інструментів для досягнення цієї мети.
            </b>
          </p>
          <p>
            Ми вважаємо, що кожен бізнес має відповідальність перед
            суспільством, у якому він працює. Тому наша компанія докладає
            максимальних зусиль для підтримки благодійних організацій, проєктів,
            соціальних ініціатив та робить усе можливе для пришвидшення нашої
            перемоги, допомагаючи Збройним силам України.
          </p>
        </div>
        <div class="charity-gallery">
          <ul class="gallery-list list">
            <li class="gallery-item">
              <img
                src="./images/charity.img/charity-gallery-1.jpg"
                alt="Селфі двох чоловіків з дроном"
                width="375"
              />
            </li>
            <li class="gallery-item">
              <img
                src="./images/charity.img/charity-gallery-2.jpg"
                alt="Чоловік передає гроші на благодійність"
                width="413"
              />
            </li>
            <li class="gallery-item">
              <img
                src="./images/charity.img/charity-gallery-3.jpg"
                alt="Комп'ютер та системні блоки"
                width="518"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
