<header class="header-page">
  <div class="header-page-container container">
    <nav class="page-nav">
      <a class="logo-type" href="./index.html">
        <img
          class="logo-type-img"
          src="./images/logo.png"
          alt="Логотип веб-студії"
          width="266"
        />
      </a>
      <ul class="menu list">
        <li class="menu-item">
          <a class="menu-link link" href="">Чому ми?</a>
        </li>

        <li class="menu-item">
          <a class="menu-link link" href="">Партнери</a>
        </li>

        <li class="menu-item">
          <a class="menu-link link" href=".">Благодійність</a>
        </li>

        <li class="menu-item">
          <a class="menu-link link" href="">Про нас</a>
        </li>

        <li class="menu-item">
          <a class="menu-link link" href="">Drupal</a>
        </li>
      </ul>
    </nav>

    <ul class="social-media-nav list">
      <li class="social-media-item">
        <a class="social-media-link link" href="https://www.facebook.com/">
          <svg class="social-media-icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social-media-item">
        <a class="social-media-link link" href="https://www.instagram.com/">
          <svg class="social-media-icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="social-media-item">
        <a class="social-media-link link" href="">
          <svg class="social-media-icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-viber"></use>
          </svg>
        </a>
      </li>
    </ul>

    <address class="contacts">
      <p class="contacts-work-schedule">Пн-Пт з 10 до 18</p>
      <a class="contacts-tel-link link" href="tel:0800759759"
        >0 (800) 759-759</a
      >

      <button type="button" class="scroll-down-btn">
        <svg class="scroll-down-btn-icon" width="12" height="8">
          <use href="./images/sprite.svg#icon-scroll-down"></use>
        </svg>
      </button>
    </address>
  </div>
</header>
