<section class="hero-section">
  <div class="container">
    <div class="hero-container">
      <div class="wrapper list">
        <p class="secondary-text">Вебстудія №1 з розробки сайтів</p>
        <h1 class="hero-title">Приєднуйтесь до нашої IT-команди</h1>
        <p class="secondary-text">
          Відкрийте нові перспективи кар'єрного зростання, приєднавшись до нашої
          інноваційної IT-команди, яка відкриває двері до безмежних можливостей
        </p>
        <div class="hero-btn-container">
          <button type="button" class="hero-btn">Спробуй свої сили</button>
        </div>
        <div class="interface-style-circle-middle"></div>
      </div>

      <div class="hero-img">
        <div class="interface-style-circle-smallest"></div>
        <svg class="basic-img" width="667" height="654">
          <use href="./images/sprite.svg#icon-hero-img"></use>
        </svg>
      </div>
    </div>

    <div class="hero-arrow-scroll-down-wrapper">
      <a href="#why-us" class="hero-arrow-scroll-down-item link">
        <span class="arrow-scroll-down-title"><b>Дізнатися більше</b></span>
        <button type="button" class="arrow-scroll-down-btn">
          <svg class="arrow-scroll-down-icon" width="18" height="28">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
      </a>
    </div>
  </div>
</section>
