<section class="our-partners-page">
  <div class="container">
    <div class="our-partners-container">
      <h3 class="our-partners-title" id="our-partners">З нами працюють:</h3>
      <div class="partners-wrapper">
        <ul class="partners-list list">
          <li class="partners-item">
            <button class="partners-btn">
              <svg class="partners-logo" width="138" height="100">
                <use href="./images/sprite.svg#icon-toyota"></use>
              </svg>
            </button>
          </li>
          <li class="partners-item">
            <button class="partners-btn">
              <svg class="partners-logo" width="232" height="65.53">
                <use href="./images/sprite.svg#icon-bravo-airways"></use>
              </svg>
            </button>
          </li>
          <li class="partners-item">
            <button class="partners-btn">
              <img
                class="partners-logo-pharmacy"
                src="./images/our-partners.img/pharmacy-logo.jpg"
                alt=""
                width="232"
                height="43"
              />
            </button>
          </li>
          <li class="partners-item">
            <button class="partners-btn">
              <svg class="partners-logo" width="232" height="48.7">
                <use href="./images/sprite.svg#icon-gemix"></use>
              </svg>
            </button>
          </li>
          <li class="partners-item">
            <button class="partners-btn">
              <svg class="partners-logo" width="232" height="73.65">
                <use href="./images/sprite.svg#icon-csd"></use>
              </svg>
            </button>
          </li>
          <li class="partners-item">
            <button class="partners-btn">
              <svg class="partners-logo" width="232" height="91.14">
                <use href="./images/sprite.svg#icon-momentum"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
