.why-us-page {
  justify-content: center;
  display: flex;
}

.why-us-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
}

.why-us-content {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.why-us-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 55px;
  margin-bottom: 50px;
}

.why-us-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
