.header-page {
  display: flex;
  justify-content: center;
}

.header-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 16px;
}

.header-logo {
  margin-right: 154px;
}

.page-nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-right: 115px;
}

.menu-link {
  font-family: var(--main-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: var(--primary-text-color-theme-light);
}

.social-media-nav {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.contacts {
  font-family: var(--main-font-family);
  font-style: normal;
  margin-left: 40px;
}

.contacts-work-schedule {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-text-color-theme-light);
}

.anchor-wrapper {
  display: flex;
  align-items: center;
}

.contacts-tel-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 32.5px;
  color: var(--primary-text-color-theme-light);
}

.scroll-down-btn {
  width: 24px;
  height: 24px;
  border: none;
  background: #fff;
  padding: 0;
  margin-left: 5px;
}

.scroll-down-btn-icon {
  fill: var(--primary-text-color-theme-light);
}
