.hero-section {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background-image: url(../images/hero.img/background-img.jpg);
  background-position: 100% 40%;
  background-size: 900px;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.hero-title {
  font-weight: 900;
  font-size: 90px;
  line-height: 99px;
  margin-bottom: 20px;
}

.secondary-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.hero-btn-container {
  margin-top: 40px;
}

.hero-btn {
  width: 310px;
  height: 65px;
  border-radius: 5px;
  background: linear-gradient(#ffdf00, #ffb800);
  border: none;
  font-weight: 700;
  font-family: var(--primary-text-color-theme-light);
  font-size: 20px;
  line-height: 25px;
}

.hero-arrow-scroll-down-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 47px;
}

.hero-arrow-scroll-down-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.arrow-scroll-down-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17.5px;
  color: var(--primary-text-color-theme-light);
}

.arrow-scroll-down-btn {
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
}

.arrow-scroll-down-icon {
  fill: var(--primary-text-color-theme-light);
}

.interface-style-circle-middle {
  background: linear-gradient(134.04deg, #ffdf00 -7.01%, #ffb800 109.07%);
  opacity: 15%;
  border-radius: 50%;
  width: 218px;
  height: 218px;
  margin: 0 0 99px 596px;
}

.interface-style-circle-smallest {
  position: absolute;
  background: linear-gradient(134.04deg, #ffdf00 -7.01%, #ffb800 109.07%);
  opacity: 15%;
  border-radius: 50%;
  width: 93px;
  height: 93px;
}
/* 
.interface-style-circle-largest {
  position: absolute;
  background: linear-gradient(134.04deg, #ffdf00 -7.01%, #ffb800 109.07%);
  opacity: 15%;
  border-radius: 50%;
  height: 436px;
  width: 436px;
  margin: 0 1624px 0 0;
} */
