.our-advantages-page {
  margin: 100px 0 100px 0;
  display: flex;
  justify-content: center;
}

/* .our-advantages-container {

} */

.our-advantages-title {
  font-size: 44px;
  font-weight: 800;
  line-height: 55px;
}

.circle-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 214px 0 219px 0;
  position: relative;
}

.circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: 70px solid;
  border-color: rgba(255, 205, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 205, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /* .semicircle {
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  border-top: 5px solid red;
  border-left: 5px solid red;
  border-right: 5px solid red;
} */

.advantages-item {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  text-align: end;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  width: 505px;
}

.left-side {
  margin-right: 20px;
}

.advantages-wrapper-title {
  margin-bottom: 10px;
}

.advantages-time {
  top: 2475px;
  left: 213px;
}

.advantages-location {
  top: 2622px;
  left: 79px;
}

.advantages-software-developer {
  top: 2770px;
  left: 30px;
}

.advantages-atom {
  top: 2918px;
  left: 79px;
}

.advantages-meeting {
  top: 3065px;
  left: 213px;
}

.right-side {
  margin-left: 20px;
}

.advantages-xbox {
  top: 3065px;
  left: 1088px;
}

.advantages-workspace {
  top: 2918px;
  left: 1221px;
}

.advantages-module {
  top: 2770px;
  left: 1254px;
}

.advantages-client {
  top: 2622px;
  left: 1221px;
}

.advantages-accounts {
  top: 2475px;
  left: 1088px;
}

.advantages-gallery {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
