.our-advantages-page {
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
}

.our-advantages-title {
  font-size: 44px;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 50px;
}

.circle-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 214px 0 219px 0;
  position: relative;
}

.circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: 70px solid;
  border-color: rgba(255, 205, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 205, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
}

.left {
  text-align: end;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  width: 505px;
}

.left-side {
  margin-right: 20px;
}

.advantages-wrapper-title {
  margin-bottom: 10px;
}

.advantages-time {
  top: 60px;
  left: 160px;
}

.icon-time {
  stroke: rgba(51, 51, 51, 1);
  stroke-width: 0.8;
  fill: none;
}

.advantages-location {
  top: 233px;
  left: 25px;
}

.icon-location {
  fill: rgba(51, 51, 51, 1);
}

.advantages-software-developer {
  top: 382px;
  left: 0px;
}

.icon-software-developer {
  stroke: rgba(51, 51, 51, 1);
  stroke-width: 0.8;
  fill: none;
}

.advantages-atom {
  bottom: 200px;
  left: 25px;
}

.icon-atom {
  fill: rgba(51, 51, 51, 1);
}

.advantages-meeting {
  bottom: 49px;
  left: 160px;
}

.icon-meeting {
  fill: rgba(51, 51, 51, 1);
}

.right-side {
  margin-left: 20px;
}

.advantages-xbox {
  top: 60px;
  right: 160px;
}

.icon-xbox {
  fill: rgba(51, 51, 51, 1);
}

.advantages-workspace {
  top: 233px;
  right: 25px;
}

.icon-workspace {
  fill: rgba(51, 51, 51, 1);
}

.advantages-module {
  top: 382px;
  right: 0px;
}

.icon-module {
  fill: rgba(51, 51, 51, 1);
}

.advantages-client {
  bottom: 200px;
  right: 25px;
}

.icon-client {
  stroke: rgba(51, 51, 51, 1);
  stroke-width: 0.8;
  fill: none;
}

.advantages-accounts {
  bottom: 49px;
  right: 160px;
}

.icon-accounts {
  stroke: rgba(51, 51, 51, 1);
  stroke-width: 0.8;
  fill: none;
}

.advantages-gallery {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.circle-style {
  width: 20px;
  height: 20px;
  opacity: 30%;
  background: linear-gradient(134.92deg, #ffdb65 14.54%, #ff8c33 90.15%),
    linear-gradient(134.04deg, #ffdf00 -7.01%, #ffb800 109.07%);
  border-radius: 50%;
  position: absolute;
}

.circle-icon-time {
  right: -25px;
  top: 140px;
}

.circle-icon-location {
  top: 65px;
  right: -84px;
}

.circle-icon-software-developer {
  top: 50px;
  right: -85px;
}

.circle-icon-atom {
  top: 23px;
  right: -101px;
}

.circle-icon-metting {
  bottom: 135px;
  right: -61px;
}

.circle-icon-xbox {
  top: 140px;
  left: -25px;
}

.circle-icon-workspace {
  top: 65px;
  left: -84px;
}

.circle-icon-module {
  top: 50px;
  left: -85px;
}

.circle-icon-client {
  top: 6px;
  left: -101px;
}

.circle-icon-accounts {
  bottom: 135px;
  left: -61px;
}
