.our-partners-page {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.our-partners-title {
  font-size: 44px;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 50px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners-btn {
  width: 270px;
  height: 147px;
  background: #ffffff;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 0px 20px 0px #4b55591a;
}
