@import url('./header.css');
@import url('./hero.css');
@import url('./choose-us.css');
@import url('./about-us.css');
@import url('./our-advantages.css');
@import url('./drupal.css');
@import url('./our-partners.css');
@import url('./charity.css');
@import url('./footer.css');

:root {
  --main-font-family: 'Montserrat', sans-serif;
  --accent-color: #ffcd01;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #333333;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background: #fffefc;
  font-family: var(--main-font-family);
  color: var(--primary-text-color-theme-light);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: var(--main-font-family);
}

address {
  font-style: normal;
}

.container {
  padding-left: 75px;
  padding-right: 75px;
  width: 1920px;
}
